<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hot Restaurant - Reserve page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
      integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="container">
      <div class="jumbotron text-center">
        <h1>
          <i class="fab fa-gripfire text-danger"></i>
          <strong>
            Hot Restaurant
          </strong>
        </h1>
        <hr />
        <h4>
          Current Reservations and Waiting List
        </h4>

        <a href="/tables" role="button" class="btn btn-primary mr-1">
          <i class="fas fa-list-ul"></i> View all tables
        </a>

        <a href="/" role="button" class="btn btn-light ml-1"
          ><i class="fas fa-home"> </i
        ></a>
      </div>

      <div class="card">
        <div class="card-header">Make your reservation</div>

        <div class="container">
          <form class="my-2">
            <div class="form-group">
              <label for="customerID">User Name</label>
              <input
                type="text"
                class="form-control"
                id="customerID"
                placeholder="Create a unique user name"
                required
              />
            </div>
            <div class="form-group">
              <label for="customerName">Name</label>
              <input
                type="text"
                class="form-control"
                id="customerName"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="form-group">
              <label for="customerEmail">Email address</label>
              <input
                type="email"
                class="form-control"
                id="customerEmail"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                placeholder="Enter your phone number"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
      integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
      crossorigin="anonymous"
    ></script>

    <script>
      $(function() {
        $("form").on("submit", function(e) {
          e.preventDefault();
          let newTable = {};
          newTable.customerName = $("#customerName").val();
          newTable.customerEmail = $("#customerEmail").val();
          newTable.customerID = $("#customerID").val();
          newTable.phoneNumber = $("#phoneNumber").val();
          $.post({
            url: "/api/tables",
            data: newTable
          }).done(function(data) {
            let redirectMsg = " Redirecting to table page...";
            if (data) {
              alert("Your reservation has been made." + redirectMsg);
            } else {
              alert("You have been put on the waiting list." + redirectMsg);
            }
            window.location.replace("/tables");
          });
        });
      });
    </script>
  </body>
</html>
